/*Sección Navbar*/
#logo{
    width: 100%;
}
#nombre{
    font-family: 'Source Serif Pro', serif;
    color: #363636;
    font-size: 21px;
    margin-top: 20px;
}
#portafolio{
    color: #363636;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#sobreMi{
    color: #363636;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.navbar-collapse {
    transform: translate3d(-30px, 0px, 0px);
}
.navbar-light .navbar-toggler {
    border-color: #FEEFEC;

}
/*Color Rosado Fondo Superior*/
#colorFondo{
    background-color: #FEEFEC;
    height: 390px;
    width: 50%;
    position: absolute;
    margin-left: 50%;
}
 
@media (min-width: 960px) {
    #nombrecol{
        text-align: center;
    }
    #nombre{
        font-size: 40px;
        padding-top: 10%;
    }
    .navbar-nav{
        margin-left: 0;
    }
    #portafolio{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    #sobreMi{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 6rem;
    }
    #colorFondo{
        background-color: #FEEFEC;
        height: 500px;
        width: 50%;
        position: absolute;
        margin-left: 50%;
    }
    
}

@media (max-width: 350px) {
    #nombre{
        font-size: 18px;
    }
    #colorFondo{
        height: 60%;
    }
}

/*Sección Burdeo Saludo */

#saludoBienvenida{
    background-color: #931941;
    border: 10px solid white;
    margin-left: 4.5%;
    margin-top: 3%;
}
#saludo{
    color: #F8BAAB;
    font-family: 'Roboto', sans-serif;
}
#ux{
    color: #F8BAAB;
    font-weight: bold;
    font-size: 22px;
}
#parrafo{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
}

@media (min-width: 960px) {
    #saludoBienvenida{
        margin-left: 1.5%;
    }
    #saludo{
        font-size: 35px;
    }
    #parrafo{
        font-size: 26px;
        padding-bottom: 3%;
    }
    #ux{
        font-size: 33px;
        font-weight: bold;
    }
}

@media (max-width: 350px) {
    #ux{
        font-size: 18px;
    }
    #parrafo{
        font-size: 16px;
    }
}

/*Sección Portafolio*/

#tituloPortafolio{
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-weight: 300;
    text-align: center;
    padding-top: 30%;  
}

#subrayado{
    background-color: #931941;
    width: 20%;
    margin-left: 40%;
    padding-top: 0;
    padding-bottom: 1.5%;
    height: 2%;
   
}

@media (min-width: 960px) {
    #tituloPortafolio{
        font-size: 35px;
        padding-top: 30%;
    }
    #subrayado{
        background-color: #931941;
        width: 14%;
        margin-left: 43%;
        padding-top: 0;
        padding-bottom: 7px;

    }
}

@media (max-width: 350px) {
    #tituloPortafolio{
        font-size: 20px;
        padding-top: 20%;
    }
}

/*Sección Proyectos*/
#colorFondoProyectos{
    background-color: #FEEFEC;
    margin-top: 18%;
    height: 530px;
    width: 100%;
    position: absolute;
}
#nombreProyecto{
    color: #363636;
    font-family: 'Source Serif Pro', serif;
    padding-top: 35%;
    padding-left: 15%;
}
#fotoPrototipoRedSocial{
    width: 250%;
    position: absolute;
    padding-top: 24%;
    padding-left: 66%;
}
@media (min-width: 960px) {
    #colorFondoProyectos{
        margin-top: 11.5%;
        height: 680px;
    }
    #nombreProyecto{
        padding-top: 23%;
        font-size: 50px;
    }
    #fotoPrototipoRedSocial{
        width: 130%;
        padding-top: 15%;
    }
}
@media (max-width: 350px) {
    #colorFondoProyectos{
        margin-top: 17%;
        height: 47000%;
    }
    #nombreProyecto{
        font-size: 22px;
    }
}

#infoProyectoRedSocial{
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 7%;
    margin-top: 7%;
}
#grupoListaProcesos{
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10%;
    padding-left: 7%;
}
#leerMas{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #931941;
    color: white;
    border: none;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 40%;
    padding-right: 7%;
    margin-top: 20%;
}
@media (min-width: 960px) {
    #infoProyectoRedSocial{
        font-size: 22px;
        padding-top: 3%;
        padding-left: 10%;
    }
    #grupoListaProcesos{
        font-size: 22px;
        padding-left: 10%;
    }
    .listaProcesos{
        padding-top: 3%;
    }
}
@media (max-width: 350px) {
    #infoProyectoRedSocial{
        font-size: 14px;
        padding-top: 0;
    }
    #grupoListaProcesos{
        font-size: 14px;
    }
    #leerMas{
        margin-top: 15%;
    }
}

