body{
    color: #363636;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
}
#logo{
    max-width: 20%;

}
@media (min-width: 960px) {
    #logo{
        max-width:7%;
        margin-right: 20%;
    }
}
#portafolio{
    color: #363636;
    font-size: 18px;
}
#portafolio:hover{
    color: #931941;
    font-weight: 700;
}
#sobreMi{
    color: #363636;
    font-size: 18px;
}
#sobreMi:hover{
    color: #931941;
    font-weight: 700;
}
/*.navbar-collapse {
    transform: translate3d(-30px, 0px, 0px);
}*/
.navbar-light .navbar-toggler {
    border-color: #FEEFEC;
    color: #931941;

}
.navbar-brand {
    display: contents;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1px;
    padding-left: 9px;
}

.navbar-nav{
    margin-top: 4%;
}






/*Color Rosado Fondo Superior*/
#colorFondo{
    background-color: #FEEFEC;
    height: 20%;
    width: 50%;
    position: absolute;
    margin-left: 50%;
}
 
@media (min-width: 960px) {
    #nombrecol{
        text-align: center;
    }
    #nombre{
        font-size: 40px;
    }
    #portafolio{
        font-size: 20px;
    }
    #sobreMi{
        font-size: 20px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 6rem;
    }
    #colorFondo{
        background-color: #FEEFEC;
        height: 30%;
        width: 55%;
        margin-left: 45%;
    } 
}

@media (max-width: 350px) {
    #nombre{
        font-size: 18px;
    }
    #colorFondo{
        height: 15%;
    }
}










/*Projecto*/

#tituloTusFinanzas{
    font-size: 30px;
    font-weight: 300;
    margin-top: 30%;
    margin-bottom: 0%;
}
#subrayado{
    background-color: #931941;
    width: 70%;
    margin-left: 8%;
    padding-top: 2%;
    margin-top: 0%;
}
#fotoPrototipoCompu{
    display: none;
}
#fotoPrototipoCelu{
    margin-left: 8%;
}

@media (min-width: 960px) {
    #tituloTusFinanzas{
        padding-top: 14%;
        margin-top: 4%; 
        font-size: 70px;
    }
    #subrayado{
        width: 30%;
        margin-left: 6%;
        padding-bottom: 0.4%;
        padding-top: 0.4%;
    }
    #fotoPrototipoCompu{
        width: 80%;
        padding-top: 20%;
        margin-left: 20%;
        display: inherit;
    }
    #fotoPrototipoCelu{
        display: none;
    }
}
@media (max-width: 350px) {
    #tituloTusFinanzas{
        font-size: 26px;
        margin-bottom: 0%;
    }
    #subrayado{
        padding-top: 2.5%;
        margin-top: 1%;
        margin-left: 8%;
        width: 80%;
    }

}

#tituloRol{
    padding-top: 25%;
    font-size: 24px;
    color: #F8BAAB;
    margin-bottom: 1%;
}
.grupoListaProcesos{
    margin-top: 10%;
}
.lista{
    background-color: #FEEFEC;
    line-height: 2.7;
    font-size: 14px;

}
#tituloProblemática{
    padding-top: 30%;
    font-size: 22px;
    color: #F8BAAB;
    margin-bottom: 3%;
}
#descProblemáticaCelu{
    font-size: 14px;
}
#descProblemáticaCelu2{
    font-size: 14px;
}
#descProblemáticaCompu{
    display: none;
}
#tituloSoluciónCelu{
    padding-top: 10%;
    font-size: 24px;
    color: #F8BAAB;
    margin-bottom: 2%;
}
#tituloSoluciónCompu{
    display: none;
}
#descSoluciónCelu{
    margin-bottom: 0%;
    font-size: 14px;
}
#descSoluciónCompu{
    display: none;
}
@media (min-width: 960px) {
    #tituloRol{
        padding-top: 25%;
        font-size: 34px;
        margin-bottom: 4%;
    }
    .grupoListaProcesos{
        margin-top: 0%;
    }
    .lista{
        font-size: 16px;
    }
    #tituloProblemática{
        padding-top: 15%;
        font-size: 34px;
        margin-bottom: 4%;
    }
    #descProblemáticaCompu{
        margin-bottom: 0%;
        font-size: 18px;
        margin-bottom: 0%;
        display: block;
    }
    #descProblemáticaCelu{
        display: none;
    }
    #descProblemáticaCelu2{
        display: none;
    }
    #tituloSoluciónCompu{
        padding-top: 15%;
        font-size: 34px;
        margin-bottom: 4%;
        color: #F8BAAB;
        display: inherit;
    }
    #tituloSoluciónCelu{
        display: none;
    }
    #descSoluciónCompu{
        font-size: 18px;
        margin-bottom: 0%;
        display: inherit;
    }
    #descSoluciónCelu{
    display: none;
    }
    
}
@media (max-width: 350px) {
    #tituloRol{
        padding-top: 25%;
    }
    #tituloProblemática{
        padding-top: 25%;
    }
    .grupoListaProcesos{
        margin-top: 5%;
    }
    .lista{
        font-size: 12px;
    }
    #descProblemáticaCelu{
        padding-top: 5%;
    }
    #tituloSolución{
        padding-top: 40%;
    }

}






/*Sección2*/

#colorFondoSeccion{
    background-color: #FEEFEC;
    margin-top: 25%;
    padding-bottom: 7%;
}
#tituloResearch{
    margin-top: -4%;
    font-size: 24px;
    color: #F8BAAB;
    margin-bottom: 15%;
}
#benchmark4edu:hover{
    opacity: 0.7;
}
#parrafoInterviews{
    font-size: 14px;
    margin-left: 0%;
    padding-top: 7%;
}
#parrafoInterviews2{
    font-size: 14px;
    margin-left: 0%;
    padding-top: 2%;
}
#resaltar{
    background-color: #F8BAAB;
    padding-right: 1.5%;
    padding-bottom: 1%;
}
#journeJoyeriaImagen{
    margin-left: -2%;
    margin-top: 10%;
}
#journeJoyeriaImagen:hover{
    opacity: 0.7;
}
.pieFoto{
    font-size: 12px;
    padding-top: 1%;
    color: #931941;
}
#imagenProcesoF1{
    margin-top: 20%;
}
#imagenProcesoF1:hover{
    opacity: 0.7;
}
#imagenProcesoF2{
    margin-top: 20%;
}
#imagenProcesoF2:hover{
    opacity: 0.7;
}
#escuchar{
    font-size: 18px;
    margin-left: 0%;
    margin-top: 10%;
}
#audio{
    font-size: 16px;
    background-color: #931941;
    color: white;
    border: none;
    padding: 3% 14%;
    margin-top: 30%;
}
#audio:hover{
    background-color: #F8BAAB;
    color: #931941;
}
@media (min-width: 960px) {
    #colorFondoSeccion{
        margin-top: 15%;
        padding-bottom: 5%;
    }
    #tituloResearch{
        margin-top: -2%;
        font-size: 34px;
        margin-bottom: 7%;
    }
    #parrafoInterviews{
        font-size: 18px;
        margin-left: 5%;
        padding-top: 0%;
    }
    #parrafoInterviews2{
        font-size: 18px;
        margin-left: 5%;
    }
    #journeJoyeriaImagen{
        margin-left: 0%;
        margin-top: 5%;
    }
    .pieFoto{
        font-size: 14px;
    }
    #imagenProcesoF1{
        margin-top: 15%;
    }
    #imagenProcesoF2{
        margin-top: 15%;
    }
    #escuchar{
        font-size: 28px;
        padding-bottom: 3%;
        margin-top: 14%;
    }
    #audio{
        font-size: 22px;
        margin-top: 20%;
        padding: 1.5% 12%;
        margin-left: 20%;
    }
}
@media (max-width: 350px) {
    #tituloResearch{
        margin-top: -5%;
    }

}






/*Parte 3*/
#tituloIdeación{
    margin-top: 80%;
    font-size: 24px;
    color: #F8BAAB;
    margin-bottom: 30%;
}
#fotoPrototipoBF2{
    margin-top: 7%;
}
#fotoPrototipoBF1:hover{
    opacity: 0.7;
}
#fotoPrototipoBF2:hover{
    opacity: 0.7;
}
#parrafoPrototipoBF{
    font-size: 14px;
    margin-left: 0%;
    margin-top: 10%;
}
.parrafoPrototipoBF2{
    font-size: 14px;
    margin-left: 0%;
}
#fotoPrototipoFlujoFinanzas{
    margin-top: 10%;
}
#fotoPrototipoFlujoFinanzas:hover{
    opacity: 0.7;
}
@media (min-width: 960px) {
    #tituloIdeación{
        margin-top: 50%;
        font-size: 34px;
        margin-bottom: 15%;
    }
    #fotoPrototipoBF2{
        margin-top: 0%;
    }
    #parrafoPrototipoBF{
        font-size: 18px;
        margin-top: 17%;
    }
    .parrafoPrototipoBF2{
        font-size: 18px;
        margin-top: 1%;
    }
    #fotoPrototipoFlujoFinanzas{
        margin-top: 10%;
    }
}
@media (max-width: 350px) {
    #tituloIdeación{
        padding-left: 13%;
    }
}




/*Parte4*/

#tituloCreación{
    font-size: 24px;
    color: #F8BAAB;
    margin-bottom: 25%;
    margin-top: -14%;
}
#tituloVerPrototipoFinal{
    font-size: 18px;
    padding-top: 1%;
}
#landingFinanzas{
    margin-top: 5%;
}
#landingFinanzas:hover{
    opacity: 0.7;
}
#parrafoPrototipoAF{
    font-size: 14px;
    margin-left: 0%;
    padding-top: 7%;
}
#parrafoPrototipoAF2{
    font-size: 14px;
}
#creaciónPrototipoAF{
    width: 100%;
}


@media (min-width: 960px) {
    #colorFondoParte4{
        margin-top: 20%;
        height: 180%;
    }
    #tituloCreación{
        font-size: 34px;
        margin-top: -6%;
        margin-bottom: 15%;
    }
    #tituloVerPrototipoFinal{
        font-size: 26px;
        padding-top: 5%;
    }
    .prototipoAlta{
        margin-top: 5%;
    }
    #parrafoPrototipoAF{
        font-size: 18px;
        margin-top: 9%;
    }
    #parrafoPrototipoAF2{
        font-size: 18px;
    }
    #creaciónPrototipoAF{
        padding-top: 10%;
    }
    #landingFinanzas{
        margin-top: 5%;
    }
}

@media (max-width: 350px) {
    #tituloCreación{
        padding-left: 13%;
        margin-top: -18%;
    }

}




/*Parte Leer*/
#tituloLeerMedium{
    margin-top: 25%;
    font-size: 16px;
    color: #F8BAAB;
    margin-bottom: 1%;
}
.leerMas{
    font-size: 16px;
    background-color: #931941;
    color: white;
    border: none;
    padding: 3% 14%;
    margin-top: 30%;
}
.leerMas:hover{
    background-color: #F8BAAB;
    color: #931941;
}
@media (min-width: 960px) {
    #tituloLeerMedium{
        padding-left: 2.5%;
        margin-top: 25%;
        color: #F8BAAB;
        font-size: 32px;
        margin-bottom: 4%;
    }
    .leerMas{
        font-size: 22px;
        margin-top: 27%;
        padding: 1.5% 12%;
        margin-left: 20%;
    }
}
@media (max-width: 350px) {
    #tituloLeerMedium{
        padding-left: 13%;
    }
    .leerMas{
        margin-top: 5%;
    }
}


#parteLeer{
    padding-bottom: 10%;
}

@media (min-width: 960px) {
    #parteLeer{
        padding-bottom: 8%;
    }
}




/*Footer*/

#rosadoFooter{
    background-color: #F8BAAB;
    padding: 4%;
}
a{
    color: #931941;
}
a:hover{
    color: white;
}
#medium{
    text-align: center;
}
#linkedin{
    text-align: center;
}
#github{
    text-align: center;
}

@media (min-width: 960px) {
    #iconMedium{
        font-size: 70px;
    }
    #iconLinkedin{
        font-size: 70px;
    }
    #iconGithub{
        font-size: 70px;
    }
    #rosadoFooter{
        padding: 3%;
    }
}
