/*Sección Navbar*/
#logo{
    max-width: 20%;

}
@media (min-width: 960px) {
    #logo{
        max-width:7%;
        margin-right: 20%;
    }
}
#nombre{
    font-family: 'Source Serif Pro', serif;
    color: #363636;
    font-size: 21px;

}
#portafolio{
    color: #363636;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#sobreMi{
    color: #363636;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
/*.navbar-collapse {
    transform: translate3d(-30px, 0px, 0px);
}*/
.navbar-light .navbar-toggler {
    border-color: #FEEFEC;

}
.navbar-brand {
    display: contents;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1px;
    padding-left: 9px;
}







/*Color Rosado Fondo Superior*/
#colorFondo{
    background-color: #FEEFEC;
    height: 20%;
    width: 50%;
    position: absolute;
    margin-left: 50%;
}
@media (min-width: 960px) {
    #nombrecol{
        text-align: center;
    }
    #nombre{
        font-size: 40px;

    }
    .navbar{
        padding-left: 12px;
    }
    .navbar-nav{
        margin-left: 0;
    }
    #portafolio{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    #sobreMi{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 6rem;
    }
    #colorFondo{
        background-color: #FEEFEC;
        height: 40%;
        width: 50%;
        position: absolute;
        margin-left: 50%;
    }
    
}

@media (max-width: 350px) {
    #nombre{
        font-size: 18px;
    }
    #colorFondo{
        height: 15%;
    }
}


/*Sección Portafolio*/

#tituloPortafolio{
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-weight: 300;
    text-align: center;
    padding-top: 45%;  
    margin-bottom: 0%;
}

#subrayado{
    background-color: #931941;
    width: 20%;
    margin-left: 40%;
    padding-top: 0;
    padding-bottom: 1%;
    height: 1%;
   
}

@media (min-width: 960px) {
    #tituloPortafolio{
        font-size: 35px;
        padding-top: 30%;
    }
    #subrayado{
        background-color: #931941;
        width: 14%;
        margin-left: 43%;
        padding-top: 0;
        padding-bottom: 5px;

    }
}

@media (max-width: 350px) {
    #tituloPortafolio{
        font-size: 20px;
        padding-top: 40%;
    }
}








/*Sección Proyecto Red Social*/
#colorFondoProyectos{
    background-color: #FEEFEC;
    margin-top: 18%;
    height: 57000%;
    width: 100%;
    position: absolute;
}
#nombreProyectoRedSocial{
    color: #363636;
    font-family: 'Source Serif Pro', serif;
    padding-top: 70%;
    padding-left: 15%;
}
#fotoPrototipoRedSocialCompu{
    width: 250%;
    position: absolute;
    padding-top: 24%;
    padding-left: 66%;
    display: none;
}
#fotoPrototipoRedSocialCelu{
    width: 105%;
    position: absolute;
    margin-left: 64%;
    padding-top: 24%;
}
@media (min-width: 960px) {
    #colorFondoProyectos{
        margin-top: 11.5%;
        height: 700px;
    }
    #nombreProyectoRedSocial{
        padding-top: 29%;
        font-size: 50px;
    }
    #fotoPrototipoRedSocialCompu{
        position: absolute;
        margin-left: 67%;
        width: 130%;
        padding-top: 11%;
        display: block;
    }
    #fotoPrototipoRedSocialCelu{
        display: none;
    }
}

@media (max-width: 350px) {
    #colorFondoProyectos{
        margin-top: 17.5%;
        height: 48000%;
    }
    #nombreProyectoRedSocial{
        font-size: 26px;
    }
}

#infoProyectoRedSocial{
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 7%;
    margin-top: 7%;
}
#grupoListaProcesosRedSocial{
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5%;
    padding-left: 7%;
}
.listaProcesosRedSocial{
    margin-bottom: 4%;
}
#leerMasRedSocial{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #931941;
    color: white;
    border: none;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 40%;
    padding-right: 7%;
    margin-top: 28%;
}
#leerMasRedSocial:hover{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.24);
}
@media (min-width: 960px) {
    #infoProyectoRedSocial{
        font-size: 22px;
        padding-top: 3%;
        padding-left: 10%;
    }
    #grupoListaProcesosRedSocial{
        font-size: 18px;
        padding-left: 10%;
    }
    .listaProcesosRedSocial{
        margin-bottom: 4%;
    }
    #leerMasRedSocial{
        font-size: 24px;
        margin-top: 10%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 68%;
        padding-right: 10%;
    }
}

@media (max-width: 350px) {
    #infoProyectoRedSocial{
        font-size: 14px;
        padding-top: 0;
    }
    #grupoListaProcesosRedSocial{
        font-size: 14px;
    }
    #leerMasRedSocial{
        margin-top: 15%;
    }
}








/*Sección Proyecto Joyería*/
#colorFondoProyectoJoyeria{
    background-color: #FEEFEC;
    margin-top: 18%;
    height: 57000%;
    width: 100%;
    position: absolute;
}
#proyectoJoyería{
    margin-top: 40%;
}

@media (min-width: 960px) {
    #proyectoJoyería{
        margin-top: 15%;
    }
}
#nombreProyectoJoyeria{
    color: #363636;
    font-family: 'Source Serif Pro', serif;
    padding-top: 66%;
    padding-left: 15%;
}
#fotoPrototipoJoyeriaCompu{
    width: 250%;
    position: absolute;
    padding-top: 24%;
    padding-left: 66%;
    display: none;
}
#fotoPrototipoJoyeriaCelu{
    width: 105%;
    position: absolute;
    margin-left: 64%;
    padding-top: 24%;
}
@media (min-width: 960px) {
    #colorFondoProyectoJoyeria{
        margin-top: 10%;
        height: 71000%;
    }
    #nombreProyectoJoyeria{
        padding-top: 23%;
        font-size: 50px;
    }
    #fotoPrototipoJoyeriaCompu{
        position: absolute;
        margin-left: 67%;
        width: 130%;
        padding-top: 0%;
        display: block;
    }
    #fotoPrototipoJoyeriaCelu{
        display: none;
    }
}
@media (max-width: 350px) {
    #colorFondoProyectoJoyeria{
        margin-top: 17.5%;
        height: 49000%;
    }
    #nombreProyectoJoyeria{
        font-size: 26px;
    }
}

#infoProyectoJoyeria{
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 7%;
    margin-top: 7%;
}
#grupoListaProcesosJoyeria{
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5%;
    padding-left: 7%;
}
.listaProcesosJoyeria{
    margin-bottom: 4%;
}
#leerMasJoyeria{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #931941;
    color: white;
    border: none;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 40%;
    padding-right: 7%;
    margin-top: 30%;
}
#leerMasJoyeria:hover{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.24);
}

@media (min-width: 960px) {
    #infoProyectoJoyeria{
        font-size: 22px;
        padding-top: 3%;
        padding-left: 10%;
    }
    #grupoListaProcesosJoyeria{
        font-size: 18px;
        padding-left: 10%;
    }
    .listaProcesosJoyeria{
        padding-top: 1%;
        margin-bottom: 1%;
    }
    #leerMasJoyeria{
        font-size: 24px;
        margin-top: 10%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 68%;
        padding-right: 10%;
    }
}
@media (max-width: 350px) {
    #infoProyectoJoyeria{
        font-size: 14px;
        padding-top: 0;
    }
    #grupoListaProcesosJoyeria{
        font-size: 14px;
    }
    #leerMasJoyeria{
        margin-top: 15%;
    }
}







/*Sección Proyecto Banco*/

#proyectoBanco{
    margin-top: 40%;
}

#colorFondoProyectoBanco{
    background-color: #FEEFEC;
    margin-top: 18%;
    height: 58000%;
    width: 100%;
    position: absolute;
}
@media (min-width: 960px) {
    #colorFondoProyectoBanco{
        margin-top: 11.5%;
        height: 720px;
    }
}
@media (max-width: 350px) {
    #colorFondoProyectoBanco{
        margin-top: 17.5%;
        height: 49700%;
    }
}

@media (min-width: 960px) {
    #proyectoBanco{
        margin-top: 10%;
    }
}
#nombreProyectoBanco{
    color: #363636;
    font-family: 'Source Serif Pro', serif;
    padding-top: 62%;
    padding-left: 15%;
}
#fotoPrototipoBancoCompu{
    width: 250%;
    position: absolute;
    padding-top: 24%;
    padding-left: 66%;
    display: none;
}
#fotoPrototipoBancoCelu{
    width: 105%;
    position: absolute;
    margin-left: 64%;
    padding-top: 24%;
}
@media (max-width: 450px){
    #fotoPrototipoJoyeriaRecortada{
        width: 10%;
    }
}

@media (min-width: 960px) {
    #nombreProyectoBanco{
        padding-top: 29%;
        font-size: 50px;
    }
    #fotoBanco{
        margin-top: -12%;
    }
    #fotoPrototipoBancoCompu{
        position: absolute;
        margin-left: 67%;
        width: 130%;
        padding-top: 0%;
        display: block;
    }
    #fotoPrototipoBancoCelu{
        display: none;
    }
}
@media (max-width: 350px) {
    #nombreProyectoBanco{
        font-size: 26px;
    }
}

#infoProyectoBanco{
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 7%;
    margin-top: 7%;
}
#grupoListaProcesosBanco{
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5%;
    padding-left: 7%;
}
.listaProcesosBanco{
    margin-bottom: 4%;
}
#leerMasBanco{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #931941;
    color: white;
    border: none;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 40%;
    padding-right: 7%;
    margin-top: 30%;
}
#leerMasBanco:hover{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.24);
}
@media (min-width: 960px) {
    #infoProyectoBanco{
        font-size: 22px;
        padding-top: 3%;
        padding-left: 10%;
    }
    #grupoListaProcesosBanco{
        font-size: 18px;
        padding-left: 10%;
    }
    .listaProcesosBanco{
        padding-top: 1%;
        margin-bottom: 1%;
    }
    #leerMasBanco{
        font-size: 24px;
        margin-top: 10%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 68%;
        padding-right: 10%;
    }
}
@media (max-width: 350px) {
    #infoProyectoBanco{
        font-size: 14px;
        padding-top: 0;
    }
    #grupoListaProcesosBanco{
        font-size: 14px;
    }
    #leerMasBanco{
        margin-top: 25%;
    }
}










/*Footer*/

#rosadoFooter{
    margin-top: 40%;
    background-color: #F8BAAB;
    padding: 4%;
}
a{
    color: #931941;
}
a:hover{
    color: white;
}
#medium{
    text-align: center;
}
#linkedin{
    text-align: center;
}
#github{
    text-align: center;
}

@media (min-width: 960px) {
    #iconMedium{
        font-size: 70px;
    }
    #iconLinkedin{
        font-size: 70px;
    }
    #iconGithub{
        font-size: 70px;
    }
    #rosadoFooter{
        padding: 3%;
        margin-top: 20%;
    }
}
