#logo{
    width: 100%;
}
#nombre{
    font-family: 'Source Serif Pro', serif;
    color: #363636;
    font-size: 20px;
    margin-top: 20px;
}
#portafolio{
    color: #363636;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#sobreMi{
    color: #363636;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.navbar-collapse {
    transform: translate3d(-30px, 0px, 0px);
}
.navbar-light .navbar-toggler {
    border-color: #FEEFEC;

}
/*Color Rosado Fondo Superior*/
#colorFondo{
    background-color: #FEEFEC;
    height: 20.4%;
    width: 50%;
    position: absolute;
    margin-left: 50%;
}
@media (min-width: 960px) {
    #nombrecol{
        text-align: center;
    }
    #nombre{
        font-size: 40px;
        padding-top: 10%;
    }
    .navbar-nav{
        margin-left: 0;
    }
    #portafolio{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    #sobreMi{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 6rem;
    }
    #colorFondo{
        background-color: #FEEFEC;
        height: 30%;
        width: 50%;
        position: absolute;
        margin-left: 50%;
    }
}
@media (max-width: 350px) {
    #nombre{
        font-size: 18px;
    }
    #colorFondo{
        height: 20.7%;
    }
}



/*Projecto*/

#nombreProyectoComercioD{
    font-size: 20px;
    color: #363636;
    font-family: 'Source Serif Pro', serif;
    padding-left: 5%;
    padding-top: 3.5%;
}
#tituloJoyeria{
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-size: 30px;
    font-weight: 300;
    padding-left: 7%;
    margin-bottom: 0%;
    margin-top: 2%;
}
#subrayado{
    background-color: #931941;
    width: 44%;
    margin-left: 7%;
    padding-bottom: 0.8%;
    margin-top: 18%;
    position: absolute;
}
#fotoPrototipoComercioD{
    width: 100%;
    padding-left: 0%;
    margin-left: 0%;
    margin-top: 5%;
    position: absolute;
}
@media (min-width: 960px) {
    #nombreProyectoComercioD{
        font-size: 35px;
        padding-top: 13%;
        padding-left: 2%;
        text-align: left;
    }
    #tituloJoyeria{
        font-size: 70px;
        padding-top: 0%;
        padding-left: 1.5%;
        text-align: left;
        margin-top: 4%;
    }
    #subrayado{
        width: 42.5%;
        margin-left: 2%;
        padding-top: 0;
        padding-bottom: 0.3%;
        margin-top: 8%;
    }
    #fotoPrototipoComercioD{
        margin-top: 4%;
        width: 65%;
        margin-left: 20%;
    }
}
@media (max-width: 350px) {
    #nombreProyectoComercioD{
        font-size: 17px;
        padding-left: 6%;
        margin-top: 12%;
    }
    #tituloJoyeria{
        font-size: 26px;
        padding-left: 8%;
    }
    #subrayado{
        padding-bottom: 0.7%;
        margin-top: 18%;
        margin-left: 8%;
        width: 42%;
    }

}

#tituloRol{
    font-family: 'Roboto', sans-serif;
    padding-left: 11%;
    padding-top: 15%;
    font-size: 16px;
    color: #F8BAAB;
    margin-bottom: 2%;
}
#descRol{
    font-family: 'Roboto', sans-serif;
    color: #363636;
    padding-left: 11%;
    margin-bottom: 0%;
}
#descRol2{
    font-family: 'Roboto', sans-serif;
    color: #363636;
    padding-left: 11%;
    margin-bottom: 0%;
}
#tituloProblemática{
    font-family: 'Roboto', sans-serif;
    padding-left: 11%;
    padding-top: 15%;
    font-size: 16px;
    color: #F8BAAB;
    margin-bottom: 2%;
}
#descProblemática{
    font-family: 'Roboto', sans-serif;
    color: #363636;
    padding-left: 5.5%;
    margin-bottom: 0%;
}
#tituloProcesos{
    font-family: 'Roboto', sans-serif;
    padding-left: 11%;
    padding-top: 15%;
    font-size: 16px;
    color: #F8BAAB;
    margin-bottom: 2%;
}
@media (min-width: 960px) {
    #tituloRol{
        padding-left: 2.5%;
        padding-top: 15%;
        color: #F8BAAB;
        font-size: 32px;
        margin-bottom: 4%;
    }
    #descRol{
        font-size: 32px;
        padding-left: 2.5%;
        padding-top: 2%;
        margin-bottom: 0%;
    }
    #descRol2{
        font-size: 32px;
        padding-left: 2.4%;
        margin-bottom: 0%;
    }
    #tituloProblemática{
        padding-left: 2.5%;
        padding-top: 15%;
        color: #F8BAAB;
        font-size: 32px;
        margin-bottom: 4%;
    }
    #descProblemática{
        font-size: 32px;
        padding-left: 1.6%;
        margin-bottom: 0%;
    }
    #tituloProcesos{
        padding-left: 2.5%;
        padding-top: 15%;
        color: #F8BAAB;
        font-size: 32px;
        margin-bottom: 4%;
    }
}
@media (max-width: 350px) {
    #tituloRol{
        padding-left: 13%;
    }
    #descRol{
        padding-left: 13%;
    }
    #descRol2{
        padding-left: 13%;
    }
    #tituloProblemática{
        padding-left: 13%;
    }
    #descProblemática{
        padding-left: 7%;
    }
    #tituloProcesos{
        padding-left: 13%;
    }
}


/*Footer*/

#rosadoFooter{
    background-color: #F8BAAB;
    padding: 4%;
}
#medium{
    text-align: center;
    color: white;
}
#linkedin{
    text-align: center;
    color: white;
}
#github{
    text-align: center;
    color: white;
}

@media (min-width: 960px) {
    #iconMedium{
        font-size: 70px;
    }
    #iconLinkedin{
        font-size: 70px;
    }
    #iconGithub{
        font-size: 70px;
    }
    #rosadoFooter{
        padding: 3%;
    }
}
