/*Sección Navbar*/
#logo{
    width: 100%;
}
#nombre{
    font-family: 'Source Serif Pro', serif;
    color: #363636;
    font-size: 21px;
    margin-top: 20px;
}
#portafolio{
    color: #363636;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#sobreMi{
    color: #363636;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.navbar-collapse {
    transform: translate3d(-30px, 0px, 0px);
}
.navbar-light .navbar-toggler {
    border-color: #FEEFEC;

}
/*Color Rosado Fondo Superior*/
#colorFondo{
    background-color: #FEEFEC;
    height: 20.4%;
    width: 50%;
    position: absolute;
    margin-left: 50%;
}
@media (min-width: 960px) {
    #nombrecol{
        text-align: center;
    }
    #nombre{
        font-size: 40px;
        padding-top: 10%;
    }
    .navbar-nav{
        margin-left: 0;
    }
    #portafolio{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    #sobreMi{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 6rem;
    }
    #colorFondo{
        background-color: #FEEFEC;
        height: 30%;
        width: 50%;
        position: absolute;
        margin-left: 50%;
    }
}
@media (max-width: 350px) {
    #nombre{
        font-size: 18px;
    }
    #colorFondo{
        height: 20.7%;
    }
}



/*Projecto*/

#nombreProyectoRedSocial{
    font-size: 25px;
    color: #363636;
    font-family: 'Source Serif Pro', serif;
    padding-left: 6%;
}
#titulo4Edu{
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-size: 35px;
    font-weight: 300;
    padding-left: 3%;
    margin-bottom: 0%;
}
#subrayado{
    background-color: #931941;
    width: 40%;
    margin-left: 8%;
    padding-bottom: 0.8%;
    height: 1%;
    position: absolute;
}
@media (min-width: 960px) {
    #nombreProyectoRedSocial{
        font-size: 35px;
        padding-top: 16%;
        padding-left: 3%;
        text-align: left;
    }
    #titulo4Edu{
        font-size: 55px;
        padding-top: 0%;
        padding-left: 1%;
        text-align: left;
    }
    #subrayado{
        width: 47.5%;
        margin-left: 2.6%;
        padding-top: 0;
        padding-bottom: 0.4%;
    }

}
@media (max-width: 350px) {
    #nombreProyectoRedSocial{
        font-size: 22px;
        padding-left: 7%;
    }
    #subrayado{
        padding-bottom: 0.7%;
    }
}

#fotoPrototipoRedSocial{
    width: 130%;
    padding-left: 0%;
    margin-left: 0%;
}
@media (min-width: 960px) {
    #fotoPrototipoRedSocial{
        width: 70%;
    }
}


/*Footer*/

#rosadoFooter{
    background-color: #F8BAAB;
    padding: 4%;
}
#medium{
    text-align: center;
    color: white;
}
#linkedin{
    text-align: center;
    color: white;
}
#github{
    text-align: center;
    color: white;
}

@media (min-width: 960px) {
    #iconMedium{
        font-size: 70px;
    }
    #iconLinkedin{
        font-size: 70px;
    }
    #iconGithub{
        font-size: 70px;
    }
    #rosadoFooter{
        padding: 3%;
    }
}
